{% extends "_common/base.html" %}

{% block content %}
<div class="container">
	<div class="row task-panel">
		<div class="col-lg-6 col-lg-offset-1">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Edit Opt-Ins</h3>
				</div>
				<div class="panel-body">
					<div id="opt_select_container" class="input_container">
						{% include "opt-in/opt_select.html" %}
					</div>
					<div class="clear"></div>
					{{OPT_FORM|raw}}
					<div class="clear"></div>
					<div class="button_panel">
						<div class="btn_container">
							<input type="button" class="btn btn-success" value="SAVE" name="submitBtn" id="submitBtn">
						</div>
						<div class="btn_container">
							<input type="button" class="btn btn-info" value="RESET" name="resetBtn" id="resetBtn">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Writers in this Opt-in</h3>
				</div>
				<div class="panel-body">
					<div id="writer-list" class="list-group">
						{% include "opt-in/list-group-item.html" %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}