<label for="invoices_select">Select a invoice to edit</label><br>
<select class="form-control" name="invoices_select" id="invoices_select">
	<option value="">Please select an invoice</option>
	{% for invoice in SELECT_INVOICES %}
		{% if invoice.invoice_status == "OPEN" %}
	    	<option style="background-color: #d9534f; color: #fff;" value="{{ invoice._id }}">{{ invoice.clients.company }} -- #{{ invoice.invoice_number}}</option>
	    {% else %}
	    	<option value="{{ invoice._id }}">{{ invoice.clients.company }} -- #{{ invoice.invoice_number}}</option>
	    {% endif %}
	{% endfor %}
</select>