{% if INVOICE_HISTORY|length > 0 %}
	<label>Status Timeline</label>
	{% for event in INVOICE_HISTORY %}
		<script type="text/javascript">
		<!--
			var timeline_{{ loop.index }} = {description: '{{ event.description }}', date: '{{ event.date }}' };
		//-->
		</script>
	    <div class="list-group-item"><a href="javascript:;" onclick="$('#status-desc').html($('#event_{{ loop.index }}').html());">Status on Date: {{ event.date }}</a> <button class="close" type="button" onclick="removeEvent(timeline_{{ loop.index }});">×</button></div>
	    <div id="event_{{ loop.index }}" style="display:none;">{{ event.description }}</div>
	{% endfor %}
{% else %}
	<label>Status Timeline</label>
	<div class="list-group-item">No current invoice status</div>
{% endif %}