{% extends "_common/base.html" %}

{% block content %}
<div class="container">
	<div class="row task-panel">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Update or Add an Invoice</h3>
				</div>
				<div class="panel-body">
					<div id="invoices_select_container" class="input_container">
						{% include "invoices/invoices_select.html" %}
					</div>
					<div id="toggleInvoice" class="button_panel input_container">
						{% include "invoices/invoice_status.html" %}
					</div>
					<div id="clients_select_container" class="input_container">
						{% include "invoices/clients_select.html" %}
					</div>
					<div class="clear"></div>
					<div id="projects_select_container" class="input_container">
						{% include "invoices/projects_select.html" %}
					</div>
					<div id="addProjectBtn" class="button_panel input_container">
						<div class="btn_container">
							<input type="button" class="btn btn-success" value="ADD PROJECT" name="addBtn" id="addBtn">
						</div>
					</div>
					<div class="clear"></div>
					<div id="current_projects" class="list-group col-lg-5 col-lg-offset-1 input_container">
						{% include "invoices/current_projects.html" %}
					</div>
					<div class="clear"><hr></div>
					{{INVOICE_FORM|raw}}
					<div class="clear"><hr></div>
					<div class="button_panel" style="margin-left: 310px;">
						<div class="btn_container">
							<input type="button" class="btn btn-success" value="SAVE" name="submitBtn" id="submitBtn">
						</div>
						<div class="btn_container">
							<input type="button" class="btn btn-danger" value="DELETE" name="deleteBtn" id="deleteBtn">
						</div>
						<div class="btn_container">
							<input type="button" class="btn btn-info" value="RESET" name="resetBtn" id="resetBtn">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}