{% extends "_common/base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-2">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Update or Add an Invoice</h3>
				</div>
				<div class="panel-body">
					{{INVOICE_FORM|raw}}
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Update Invoice Status</h3>
				</div>
				<div class="panel-body">
					{{INVOICE_STATUS_FORM|raw}}
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Upload Invoice File</h3>
				</div>
				<div class="panel-body">
					<p><label>Current Invoice File:</label> <a id="invoice_file_link" href="#">Not Available</a></p>
					{{INVOICE_FILE_FORM|raw}}
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
<!--
	var timestamp = '{{TIMESTAMP}}';
	var token = '{{UPLOAD_TOKEN}}';
//-->
</script>
{% endblock %}