{% extends "_common/base.html" %}

{% block content %}
<div class="container">
	<div class="row task-panel">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Update or Add Projects</h3>
				</div>
				<div class="panel-body">
					<div id="projects_select_container" class="input_container">
						{% include "projects/projects_select.html" %}
					</div>
					<div id="clients_select_container" class="input_container">
						{% include "projects/clients_select.html" %}
					</div>
					<div class="clear"><hr></div>
					{{PROJECT_FORM|raw}}
					<div class="clear"></div>
					<label>Current Tags</label>
					<div id="current_tags" class="list-group" style="border: 1px solid #000; padding: 10px;">
						{% include "projects/current_tags.html" %}
					</div>
					<div class="clear"><hr></div>
					<div class="button_panel" style="margin-left: 240px;">
						<div class="btn_container">
							<input type="button" class="btn btn-success" value="SAVE" name="submitBtn" id="submitBtn">
						</div>
						<div class="btn_container">
							<input type="button" class="btn btn-danger" value="DELETE" name="deleteBtn" id="deleteBtn">
						</div>
						<div class="btn_container">
							<input type="button" class="btn btn-info" value="RESET" name="resetBtn" id="resetBtn">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}