{% extends "_common/base.html" %}

{% block content %}
<div class="container">
	<div class="row task-panel">
		<div class="col-lg-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Edit Account Information</h3>
				</div>
				<div class="panel-body">
					{{WRITER_FORM|raw}}
					<div class="clear"></div>
					<div class="button_panel">
						<div class="btn_container">
							<input type="button" class="btn btn-success" value="SAVE" name="submitBtn" id="submitBtn">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Performance Statistics</h3>
				</div>
				<div class="panel-body">
					{% if RATING %}
					<h2>Rating: {{ RATING }}</h2>
					{% else %}
					<h2>Rating: N/A</h2>
					{% endif %}
					<div class="clear"></div>
					{% if WPH %}
					<h2>Words Per Hour: {{ WPH }}</h2>
					{% else %}
					<h2>Words Per Hour: N/A</h2>
					{% endif %}
					<div class="clear"></div>
					<p><i>* as of {{ AS_OF_DATE }}</i></p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}