{% extends "_common/base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-2">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Update or Add Client</h3>
				</div>
				<div class="panel-body">
					<div id="clients_select_container">
						{% include "clients/clients_select.html" %}
					</div>
					<div class="clear"></div>
					{{CLIENT_FORM|raw}}
					<div class="clear"></div>
					<div class="button_panel">
						<div class="btn_container">
							<input type="button" class="btn btn-success" value="SAVE" name="submitBtn" id="submitBtn">
						</div>
						<div class="btn_container">
							<input type="button" class="btn btn-info" value="RESET" name="resetBtn" id="resetBtn">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Project Tags</h3>
				</div>
				<div class="panel-body">
					<div id="project_tag_container">
						<label for="project_tag">New Tag</label><br>
						<input type="text" class="form-control" value="" name="project_tag" id="project_tag">
					</div>
					<div class="clear"></div>
					<div style="margin-left:-10px;" class="button_panel">
						<div class="btn_container">
							<input type="button" class="btn btn-success" value="ADD TAG" name="addBtn" id="addBtn">
						</div>
					</div>
					<div class="clear"><hr></div>
					<div id="project-tag-list" class="list-group">
						{% include "clients/list-group-item.html" %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}