{% extends "_common/base.html" %}

{% block content %}
<div class="container">
	<div id="order_tips" class="alert alert-success alert-dismissable">
	    <p><strong>Tip #1:</strong> Since we charge per word, you will want to specify a word count range or let us know that you don't care. Many clients say, "long enough to be comprehensive but short enough to avoid fluff".</p>

		<p><strong>Tip #2:</strong> Is this the same or similar to a previous project we've done for you? Let us know so we can go back and look at keywords and other specs.</p>

		<p><strong>Tip #3:</strong> Would you like to see pitches first before the full piece? This is always an option, and always free. Pitches take 1-2 business days and then once approved the project will take 2-3 business days. So it depends on your timeline. Note below if you want to see pitches first. :)</p>

		<p><strong>Tip #4:</strong> You can always email Amie directly for orders, she will ask you any questions if you aren't sure what to say. :)</p>
	</div>
	<div class="row">
		<div class="col-lg-6 col-lg-offset-2">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Enter a description of what you need. Be as descriptive as possible.</h3>
				</div>
				<div class="panel-body">
					{{ORDER_FORM|raw}}
				</div>
			</div>
		</div>
	</div>
</div>
<input type="hidden" id="client_id_holder" value="{{CLIENT_ID}}" />
{% endblock %}