/* 

    Document   : styles

    Created on : Oct 24, 2013

    Author     : Bryan Lowe

    Description:

        This document contains the general css styles for fonts, background colors, 

		background images, overlays, etc used across the website.

*/


.hide {
  display: none;
}

.clear {
  clear: both;
  padding: 10px;
}

.btn_container, .input_container{
  float: left;
  padding-left: 10px;
}

.form-wrapper {
  margin-left: 40px;
}

#pleaseWaitDialog {
    width: 400px;
    height: 250px;
    position: fixed;
    top: 25%;
    left: 50%;
    margin-top: -25px;
    margin-left: -200px;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
}

.login-form, .task-panel{
    margin-top:100px;
}

.task-title {
    font-size: 25px;
    margin: 0;
}

.list-group-item a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.textarea-lg {
  width: 700px;
  min-height: 200px;
}

.textarea-md {
  width: 500px;
  min-height: 200px;
}

.addTagBtn {
  margin-top: 6px;
}

#toggleInvoice, #addProjectBtn {
  margin-top: 25px;
}

.btn-glow-success {
  box-shadow: 1px 1px 12px #4CAE4C;
}

.btn-glow-danger {
  box-shadow: 1px 1px 12px #D43F3A;
}

.btn-glow-warning {
  box-shadow: 1px 1px 12px #EEA236;
}

.btn-glow-info {
  box-shadow: 1px 1px 12px #46B8DA;
}