{% if INVOICE_ENTRIES %}
	{% for invoice in INVOICE_ENTRIES %}
		<tr>
			<td>
				<a id="invoice_{{invoice._id}}" class="loadInvoice">Period: {{invoice.period_start}} - {{invoice.period_end}}</a>
			</td>
			<td style="white-space: nowrap;">{{invoice.invoice_date}}</td>
			<td>${{invoice.invoice_cost}}</td>
			{% if invoice.invoice_status == "PAID" %}
				<td style="text-align: center"><span class="btn btn-success">{{invoice.invoice_status}}</span></td>
			{% else %}
				<td style="text-align: center"><span class="btn btn-info">{{invoice.invoice_status}}</span></td>
			{% endif %}
			<td style="text-align: center"><a id="print_{{invoice._id}}" class="btn btn-info printInvoice">PDF</a></td>
		</tr>		
	{% endfor %}
{% else %}
<tr><td colspan="5"><p align="center">There are no active invoices to show.</p></td></tr>
{% endif %}