{% extends "_common/base.html" %}

{% block content %}
<div id="container">
	<div class="row task-panel">
		<div class="col-lg-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-envelope"></i> Invoices</h3>
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table id="invoiceHistoryTbl" class="table table-bordered table-hover table-striped tablesorter">
							<thead>
		                    	<tr>
			                        <th class="header">Pay Period <i class="fa fa-sort"></i></th>
			                        <th class="header">Last Updated <i class="fa fa-sort"></i></th>
			                        <th class="header">Amount (USD) <i class="fa fa-sort"></i></th>
			                        <th class="header">Status <i class="fa fa-sort"></i></th>
			                        <th class="header">&nbsp;</th>
		                      	</tr>
	                      	</thead>
	                      	<tbody id="invoice_entries">
	                      		{% include 'invoices/invoice-entry.html' %}
              				</tbody>
                 	 	</table>
					</div>
					<div class="clear"><hr></div>
					<div id="writer-invoice" class="table-responsive">
	                    {% include 'invoices/invoice-details.html' %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}