{% extends "_common/base.html" %}

{% block content %}
<div class="container">
	<div class="row task-panel">
		<div class="col-lg-4 col-lg-offset-2">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Update or Add User</h3>
				</div>
				<div class="panel-body">
					<div id="users_select_container">
						{% include "users/users_select.html" %}
					</div>
					<div class="clear"></div>
					{{USER_FORM|raw}}
					<div class="button_panel">
						<div class="btn_container">
							<input type="button" class="btn btn-success" value="SAVE" name="submitBtn" id="submitBtn">
						</div>
						<div class="btn_container">
							<input type="button" class="btn btn-danger" value="DELETE" name="deleteBtn" id="deleteBtn">
						</div>
						<div class="btn_container">
							<input type="button" class="btn btn-info" value="RESET" name="resetBtn" id="resetBtn">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Click on an entry you want to create as a user</h3>
				</div>
				<div class="panel-body">
					<div id="client-writer-list" class="list-group">
						{% if NONUSER_CLIENTS or NONUSER_WRITERS %}
							{% include "users/list-group-item.html" %}
						{% else %}
							<h2 class="no-entries" align="center">No new entries</h2>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}