{% extends "_common/base.html" %}

{% block content %}
<div id="container">
	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-tasks"></i> Projects</h3>
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table id="projectTbl" class="table table-bordered table-hover table-striped tablesorter">
							<thead>
		                    	<tr>
			                        <th class="header">Title <i class="fa fa-sort"></i></th>
			                        <th class="header">State <i class="fa fa-sort"></i></th>
			                        <th class="header">Last Updated <i class="fa fa-sort"></i></th>
		                      	</tr>
	                      	</thead>
	                      	<tbody>
              					{% if PROJECT_ENTRIES %}
	                      			{% for project in PROJECT_ENTRIES %}
	                      				{% include 'projects/project-entry.html' %}
	                      			{% endfor %}
	                      		{% else %}
	                      		<tr><td colspan="4"><p align="center">There are no active projects to show.</p></td></tr>
	                      		{% endif %}
              				</tbody>
                 	 	</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-search"></i> Project Status</h3>
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-bordered table-hover table-striped">
							<tbody>
								<tr>
									<td id="projectStatus">
										<p>Click on an project title on the left to view its status.</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}