<tr>
	<td><a id="project_{{project._id}}" class="toggleDesc">{{project.project_tag}}</a><div id="project_{{project._id}}_desc" class="hide">{{project.project_description}}</div></td>
	<td>{{project.project_date}}</td>
</tr>
<div id="project_{{project._id}}_details" class="hide">
	{% if project.project_timeline %}
		{% for event in project.project_timeline %}
			<p><strong>Date:</strong> {{event.date}}</p>
			<p><strong>Description:</strong></p>
			<p>{{event.description}}</p>
			{% if not loop.last %}
				<hr>
			{% endif %}
		{% endfor %}
	{% else %}
		No project timeline available
	{% endif %}
</div>