{% if INVOICE_ENTRIES %}
	{% for invoice in INVOICE_ENTRIES %}
		<tr>
			<td>
				<a id="invoice_{{invoice._id}}" class="toggleDesc">{{invoice.invoice_number}}</a>
				<div id="invoice_{{invoice._id}}_desc" class="hide">
					{% if invoice.project_list %}
						<h3>Project List:</h3>
						<div class="list-group">
							{% for project in invoice.project_list %}
								<div class="list-group-item">{{ project.project_title }}</div>
							{% endfor %}
						</div>
						<div class="clear"><hr></div>
					{% endif %}
					<h3>Description:</h3>
					<p>{{invoice.invoice_description}}</p>
				</div>
			</td>
			<td style="white-space: nowrap;">{{invoice.invoice_date}}</td>
			<td>{{invoice.invoice_cost}}</td>
			<td>
				<a href="https://contentequalsmoney.com/pay-invoice-online/?invoice_id={{invoice.wp_invoice_id}}&format=pdf" target="_blank">PDF</a>
			</td>
			{% if invoice.invoice_status == "PAID" %}
				<td><span class="btn btn-success">{{invoice.invoice_status}}</span></td>
				<td>
					<a href="https://contentequalsmoney.com/pay-invoice-online/?invoice_id={{invoice.wp_invoice_id}}" target="_blank">View</a>
				</td>
			{% else %}
				<td><span class="btn btn-danger">{{invoice.invoice_status}}</span></td>
				<td>
					<a href="https://contentequalsmoney.com/pay-invoice-online/?invoice_id={{invoice.wp_invoice_id}}" target="_blank">Pay</a>
				</td>
			{% endif %}
		</tr>		
	{% endfor %}
{% else %}
<tr><td colspan="5"><p align="center">There are no active invoices to show.</p></td></tr>
{% endif %}